<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El título de nuestro documento</h1>

    <h2 class="titulo2">Un subtítulo cualquiera</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum deserunt, consequuntur a obcaecati consectetur rem non aspernatur omnis fugit dolorem admolestias neque dolorum, laudantium soluta debitis illum quia tenetur.</p>

    <p class="parrafo-destacado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iste exercitationem non cum quod suscipit <em>hola soy cursiva</em> corporis sint laudantium. Cupiditate, dolore laudantium libero provident commodi sunt debitis temporibus? Eum, incidunt accusamus.</p>

    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>

    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>

    <a href="http://www.google.com">Ir a google</a>
</body>
</html>